<div class="container">
    <div id="footer" class="container-fluid">
        <footer class="row row-cols py-9 mx-0 my-5 mx-0 border-top">
            <div class="col">

                <a href="/" class="d-flex align-items mb-0 link-dark text-decoration-none">
                    <svg class="bi me-" width="60" height="70">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
            </div>

            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-dark">Recipes</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Appetizers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Breakfast</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Desserts</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dinner</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lunch</a></li>

                </ul>
            </div>

            <div class="col mx-3">

                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-dark">About/Help</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessibility</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Meet the Team</a></li>
                </ul>
            </div>
            <div class="col mx-3">

                <div>
                    <ul class="list-unstyled d-flex">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-dark">Social</a></li>
                        <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                                <use xlink:href="/assets/bootstrap-icons.svg#facebook" />
                            </svg></button>
                        <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                                <use xlink:href="/assets/bootstrap-icons.svg#twitter" />
                            </svg></button>
                        <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                                <use xlink:href="/assets/bootstrap-icons.svg#instagram" />
                            </svg></button>
                    </ul>
                </div>