<div class="containter-fluid"> <!--This is the start of the container for the card.-->
    <div class="card"> <!-- Beginning of card object.-->

        <img src={{img}} class="card-img-top img" alt="img"> <!-- Image that is the top half of the card. Value is pulled from Firebase server.-->

        <div class="card-body"> <!-- Start of text box that takes up the bottom half of the card.-->
            <h3 class="card-title font-weight-bold font-size: 2rem">{{title}} </h3> <!-- Text for the card is pulled from the Firebase server. -->
        </div>

    </div> 
</div> 