<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">

    <!--this button is at the bottom and leads to the 1st slide, its the first slide by default-->
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>

    <!--This button leads to the 2nd slide-->
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

    <!--This button leads to the final slide-->
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

  </div>


<!--This div contains the images and data-->
  <div class="carousel-inner">

    <!--first image of the carousel-->

    <div class="carousel-item active">

      <div class="img">
        <img src="./assets/vegan.jpg" class="d-block w-100" alt="...">
      </div>

      <!--This is the header for the 1st image-->
      <div class="carousel-caption d-none d-md-block">
        <h5>Vegan Cornbread</h5>

      </div>

    </div>

    <!--second image of the carousel-->

    <div class="carousel-item">

      <div class="img">
        <img src="./assets/chicken-kebab.jpg" class="d-block w-100" alt="...">
      </div>

      <!--header for the 2nd carousel image-->
      <div class="carousel-caption d-none d-md-block">
        <h5>Chicken Kebabs</h5>
        <p>
          Create authentic kebabs with this recipe!
        </p>
      </div>

    </div>

    <!--third image of the carousel-->
    <div class="carousel-item">

      <div class="img">
        <img src="./assets/Margherita-Pizza.jpg" class="d-block w-100" alt="...">
      </div>

      <!--header for the 3rd carousel image-->

      <div class="carousel-caption d-none d-md-block">
        <h5>Margherita Pizza</h5>
        <p>
          A delicous and simple Italian-style pizza!
        </p>
      </div>
    </div>
  </div>

  <!--This is for the left side button, which leads to the previous recipe-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
    id="arrows">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <!--This is for the right side button, which leads to the next recipe-->

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"
    id="arrows">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>