.btn{
    background-color: gainsboro;
}
.body{
    margin: 0;
}
.container{
    display: flex;
    width: 50%;

    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.heading{
    color: black;
    
}
.link{
    color:gray
    
}


